@import "tailwindcss";

::-webkit-scrollbar {
  width: 12px;
  height: 5px; 
  background-color: #262626;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 6px; 
  border: 3px solid #262626;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff; 
}

::-webkit-scrollbar-track {
  background-color: #262626;
}